.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(133, 133, 133);
  padding: 20px 110px;
  align-items: center;
}
.navbar .hamburger {
  display: none;
}
.navbar .logo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar .logo img {
  width: 120px;
}
.navbar .links {
  display: flex;
  justify-content: space-between;
}
.navbar .links ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar .links ul li {
  list-style-type: none;
}
.navbar .links ul li a {
  text-decoration: none;
  color: #424242;
  transition: 0.3s;
  font-weight: 600;
}
.navbar .links ul li a:hover {
  color: #229799; 
  transition: 0.3s;
}
.navbar .links ul:last-child {
  gap: 15px;
}
@media (max-width: 1320px) {
  .navbar .logo {
    flex: none;
    width: fit-content;
  }
  .navbar .logo h4 {
    font-size: 23px;
  }
  .navbar .logo img {
    width: 75px;
  }
}
@media (max-width: 1140px) {
  .navbar {
    flex-wrap: wrap;
    height: 120px;
    overflow-y: hidden;
    transition: 0.3s;
  }
  .navbar .hamburger {
    display: flex;
    font-size: 24px;
  }
  .navbar .links {
    order: 1;
    width: 100%;
    flex: none;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }
  .show_navbar {
    height: 200px;
    transition: 0.3s;
  }
}
@media (max-width: 920px) {
  .navbar {
    padding: 20px;
  }
  header {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .navbar .links ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .show_navbar {
    height: 380px;
    transition: 0.3s;
  }
}
@media (max-width: 470px) {
  .navbar .logo {
    gap: 10px;
  }
  .navbar .logo h4 {
    font-size: 18px;
  }
  .navbar .logo img {
    width: 40px;
  }
  .navbar {
    height: 75px;
  }
  .show_navbar {
    height: 340px;
    transition: 0.3s;
  }
}
