.authPage {
  display: flex;
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100vh;
}
.authPage .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  padding: 20px 20px;
  max-width: 1500px;
}
.authPage .login-container {
  max-width: 620px;
}
.authPage .container .header {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.authPage .container .header h3 {
  font-size: 1.6rem;
  color: #424242; /* Dark text color */
}
.authPage .container .header img {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}
.authPage .container .header {
  text-align: center;
  margin-bottom: 30px;
}
.authPage .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.authPage .container form .wrapper {
  display: flex;
  gap: 20px;
}
.authPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.authPage .container form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}
.authPage .container form .inputTag div input,
.authPage .container form .inputTag div select,
.authPage .container form .inputTag div textarea {
  background: #87878778; /* Light grey for input background */
  padding: 8px;
  border: none;
  width: 100%;
}
.authPage .container form .inputTag div input:focus,
.authPage .container form .inputTag div select:focus,
.authPage .container form .inputTag div textarea:focus {
  outline: none;
}
.authPage .container form .inputTag div svg {
  width: 10%;
  font-size: 1.5rem;
  background: #48cfcb; /* Accent color for SVG background */
  height: 46px;
  padding: 8px;
  color: #ffffff;
}
.authPage .container form button {
  padding: 12px;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #ffffff;
  background: #48cfcb; /* Accent color for button */
  font-size: 1.2rem;
  border-radius: 7px;
}
.authPage .container form a {
  padding: 12px;
  text-align: center;
  border: 1px solid #48cfcb; /* Accent color for link border */
  margin-top: 25px;
  font-weight: 700;
  color: #48cfcb; /* Accent color for link text */
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}
.authPage .banner {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.authPage .banner img {
  width: 100%;
  width: 550px;
  height: 550px;
}
@media (max-width: 1520px) {
  .authPage {
    min-width: 100%;
  }
}
@media (max-width: 1030px) {
  .authPage .container {
    margin: 0 auto;
  }
}
@media (max-width: 910px) {
  .authPage .container form .wrapper {
    flex-direction: column;
  }
}
@media (max-width: 830px) {
  .authPage {
    min-height: 100vh;
    height: auto;
  }
  .authPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
  }
  .authPage .banner {
    flex: none;
    display: none;
  }
}
