@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn,
.black_btn,
.outline_btn {
  background: #dfdf07;
  color: #111;
  font-weight: 500;
  border: none;
  transition: 0.3s;
  padding: 10px 30px;
  min-width: 170px;
  max-width: fit-content;
  border-radius: 6px;
  text-decoration: none;
}
@media (max-width: 410px) {
  .btn,
  .black_btn,
  .outline_btn {
    font-size: 18px;
    font-weight: 400;
    min-width: fit-content;
    max-width: fit-content;
    padding: 10px;
  }
}
.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.black_btn {
  background: #111;
  color: #fff;
}
.black_btn:hover {
  background: #fff;
  color: #111;
  transition: 0.3s;
  cursor: pointer;
}
.outline_btn {
  background: transparent;
  color: #dfdf07;
  border: 1px solid #dfdf07;
}
.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.outline_btn:hover {
  background: #dfdf07;
  color: #111;
  transition: 0.3s;
  cursor: pointer;
}
